Repository ROCm/amdsmi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan, @ROCm/rocm-documentation

fix: [SWDEV-448201] [rocm/amd_smi_lib]
  amdsmi_cli/amdsmi_commands.py
  example/amd_smi_drm_example.cc
  include/amd_smi/amdsmi.h
  include/amd_smi/impl/amd_smi_utils.h
  py-interface/README.md
  py-interface/amdsmi_interface.py
  src/amd_smi/amd_smi.cc
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan, @ROCm/rocm-documentation

fix: [SWDEV-448201] [rocm/amd_smi_lib]
  amdsmi_cli/amdsmi_commands.py
  example/amd_smi_drm_example.cc
  include/amd_smi/amdsmi.h
  include/amd_smi/impl/amd_smi_utils.h
  py-interface/README.md
  py-interface/amdsmi_interface.py
  src/amd_smi/amd_smi.cc
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan, @ROCm/rocm-documentation

fix for cpu enable apb error
  amdsmi_cli/amdsmi_commands.py
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

fix for cpu enable apb error
  amdsmi_cli/amdsmi_commands.py
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Get and set the XGMI PLPD
  amdsmi_cli/README.md
  amdsmi_cli/amdsmi_commands.py
  amdsmi_cli/amdsmi_parser.py
  include/amd_smi/amdsmi.h
  py-interface/README.md
  py-interface/amdsmi_interface.py
  py-interface/amdsmi_wrapper.py
  rocm_smi/include/rocm_smi/rocm_smi.h
  rocm_smi/src/rocm_smi.cc
  rocm_smi/src/rocm_smi_device.cc
  src/amd_smi/amd_smi.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Get and set the XGMI PLPD
  amdsmi_cli/README.md
  amdsmi_cli/amdsmi_commands.py
  amdsmi_cli/amdsmi_parser.py
  include/amd_smi/amdsmi.h
  py-interface/README.md
  py-interface/amdsmi_interface.py
  py-interface/amdsmi_wrapper.py
  rocm_smi/include/rocm_smi/rocm_smi.h
  rocm_smi/src/rocm_smi.cc
  rocm_smi/src/rocm_smi_device.cc
  src/amd_smi/amd_smi.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-431924 - Corrected amdsmi_get_gpu_board_info() to return N/A for invalid values
  py-interface/amdsmi_interface.py
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-431924 - Corrected amdsmi_get_gpu_board_info() to return N/A for invalid values
  py-interface/amdsmi_interface.py
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-435406 - Corrected amdsmi_get_power_info() to return N/A for invalid values
  py-interface/amdsmi_interface.py
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-435406 - Corrected amdsmi_get_power_info() to return N/A for invalid values
  py-interface/amdsmi_interface.py
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-447333 - Corrected amdsmi_init() python documentation
  py-interface/README.md
Owners: @ROCm/rocm-documentation

SWDEV-447333 - Corrected amdsmi_init() python documentation
  py-interface/README.md
Owners: @ROCm/rocm-documentation

SWDEV-445664 - Aligned metric --clock with Host
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
  amdsmi_cli/amdsmi_helpers.py
  py-interface/README.md
  py-interface/amdsmi_interface.py
  src/amd_smi/amd_smi.cc
  src/amd_smi/amd_smi_utils.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-445664 - Aligned metric --ecc & --ecc-blocks with Host
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
  py-interface/README.md
  py-interface/amdsmi_interface.py
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-445664 - Aligned metric --clock with Host
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
  amdsmi_cli/amdsmi_helpers.py
  py-interface/README.md
  py-interface/amdsmi_interface.py
  src/amd_smi/amd_smi.cc
  src/amd_smi/amd_smi_utils.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-445664 - Aligned metric --ecc & --ecc-blocks with Host
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
  py-interface/README.md
  py-interface/amdsmi_interface.py
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-452739 - Add CEM slot type to amd-smi
  CHANGELOG.md
  include/amd_smi/amdsmi.h
  py-interface/README.md
  py-interface/amdsmi_wrapper.py
  src/amd_smi/amd_smi.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-452739 - Add CEM slot type to amd-smi
  CHANGELOG.md
  include/amd_smi/amdsmi.h
  py-interface/README.md
  py-interface/amdsmi_wrapper.py
  src/amd_smi/amd_smi.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Bump Version to 24.5.0.0
  CMakeLists.txt
  amdsmi_cli/README.md
  docs/doxygen/Doxyfile
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan, @ROCm/rocm-documentation

Bump Version to 24.5.0.0
  CMakeLists.txt
  amdsmi_cli/README.md
  docs/doxygen/Doxyfile
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan, @ROCm/rocm-documentation

fix: [SWDEV-442525] [rocm/amd_smi_lib]
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
  example/amd_smi_drm_example.cc
  include/amd_smi/amdsmi.h
  include/amd_smi/impl/amd_smi_gpu_device.h
  py-interface/README.md
  py-interface/amdsmi_interface.py
  py-interface/amdsmi_wrapper.py
  rocm_smi/include/rocm_smi/rocm_smi.h
  rocm_smi/src/rocm_smi_kfd.cc
  src/amd_smi/amd_smi.cc
  src/amd_smi/amd_smi_gpu_device.cc
  src/amd_smi/fdinfo.cc
  tests/amd_smi_test/functional/process_info_read.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

fix: [SWDEV-442525] [rocm/amd_smi_lib]
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
  example/amd_smi_drm_example.cc
  include/amd_smi/amdsmi.h
  include/amd_smi/impl/amd_smi_gpu_device.h
  py-interface/README.md
  py-interface/amdsmi_interface.py
  py-interface/amdsmi_wrapper.py
  rocm_smi/include/rocm_smi/rocm_smi.h
  rocm_smi/src/rocm_smi_kfd.cc
  src/amd_smi/amd_smi.cc
  src/amd_smi/amd_smi_gpu_device.cc
  src/amd_smi/fdinfo.cc
  tests/amd_smi_test/functional/process_info_read.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

fix links
  README.md
Owners: @ROCm/rocm-documentation

fix links
  README.md
Owners: @ROCm/rocm-documentation

SWDEV-445668 - Align topology JSON
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-445668 - Align topology JSON
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Removed fb_sharing fields from Linux BM
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Removed fb_sharing fields from Linux BM
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Added amdsmi_get_gpu_process_info python library documentation
  py-interface/README.md
Owners: @ROCm/rocm-documentation

Added amdsmi_get_gpu_process_info python library documentation
  py-interface/README.md
Owners: @ROCm/rocm-documentation

Bump Version to 24.5.1.0
  CMakeLists.txt
  amdsmi_cli/README.md
  docs/doxygen/Doxyfile
  include/amd_smi/amdsmi.h
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan, @ROCm/rocm-documentation

Bump Version to 24.5.1.0
  CMakeLists.txt
  amdsmi_cli/README.md
  docs/doxygen/Doxyfile
  include/amd_smi/amdsmi.h
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan, @ROCm/rocm-documentation

GIT - Set dependabot checks to monthly
  .github/dependabot.yml
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

GIT - Set dependabot checks to monthly
  .github/dependabot.yml
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-455131 - Updated process APIs
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
  py-interface/README.md
  py-interface/__init__.py
  py-interface/amdsmi_interface.py
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

SWDEV-455131 - Updated process APIs
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
  py-interface/README.md
  py-interface/__init__.py
  py-interface/amdsmi_interface.py
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Added new ecc blocks and adjusted metric --ecc-block filtering
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
  include/amd_smi/amdsmi.h
  py-interface/amdsmi_interface.py
  py-interface/amdsmi_wrapper.py
  rocm_smi/include/rocm_smi/rocm_smi.h
  rocm_smi/python_smi_tools/rsmiBindings.py
  tests/amd_smi_test/test_common.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Added new ecc blocks and adjusted metric --ecc-block filtering
  CHANGELOG.md
  amdsmi_cli/amdsmi_commands.py
  include/amd_smi/amdsmi.h
  py-interface/amdsmi_interface.py
  py-interface/amdsmi_wrapper.py
  rocm_smi/include/rocm_smi/rocm_smi.h
  rocm_smi/python_smi_tools/rsmiBindings.py
  tests/amd_smi_test/test_common.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Updated Sphinx to include Changelog
  docs/amdsmi_changelog_link.md
  docs/conf.py
  docs/esmi_lib_readme_link.md
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Updated Sphinx to include Changelog
  docs/amdsmi_changelog_link.md
  docs/conf.py
  docs/esmi_lib_readme_link.md
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

.github/CODEOWNERS:

* @marifamd @bill-shuzhou-liu @dmitrii-galantsev @charis-poag-amd @oliveiradan

docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
