Repository ROCm/amdsmi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan, @ROCm/rocm-documentation

Removed print in python interface
  py-interface/README.md
  py-interface/amdsmi_interface.py
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Removed print in python interface
  py-interface/README.md
  py-interface/amdsmi_interface.py
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

fix: [SWDEV-458102] [rocm/amd_smi_lib]
  rocm_smi/src/rocm_smi.cc
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

fix: [SWDEV-458102] [rocm/amd_smi_lib]
  rocm_smi/src/rocm_smi.cc
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Process isolation and clean shader
  amdsmi_cli/README.md
  amdsmi_cli/amdsmi_commands.py
  amdsmi_cli/amdsmi_parser.py
  include/amd_smi/amdsmi.h
  py-interface/README.md
  py-interface/amdsmi_interface.py
  py-interface/amdsmi_wrapper.py
  rocm_smi/include/rocm_smi/rocm_smi.h
  rocm_smi/include/rocm_smi/rocm_smi_device.h
  rocm_smi/src/rocm_smi.cc
  rocm_smi/src/rocm_smi_device.cc
  src/amd_smi/amd_smi.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Process isolation and clean shader
  amdsmi_cli/README.md
  amdsmi_cli/amdsmi_commands.py
  amdsmi_cli/amdsmi_parser.py
  include/amd_smi/amdsmi.h
  py-interface/README.md
  py-interface/amdsmi_interface.py
  py-interface/amdsmi_wrapper.py
  rocm_smi/include/rocm_smi/rocm_smi.h
  rocm_smi/include/rocm_smi/rocm_smi_device.h
  rocm_smi/src/rocm_smi.cc
  rocm_smi/src/rocm_smi_device.cc
  src/amd_smi/amd_smi.cc
Owners: @ROCm/rocm-documentation, @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Added new functions to py-interface __init__.py
  py-interface/__init__.py
  py-interface/amdsmi_interface.py
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Added new functions to py-interface __init__.py
  py-interface/__init__.py
  py-interface/amdsmi_interface.py
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

amd-smi_cli: Fix issue for set core boost limit in CPU
  amdsmi_cli/amdsmi_commands.py
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

amd-smi_cli: Fix issue for set core boost limit in CPU
  amdsmi_cli/amdsmi_commands.py
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Process isolation sysfs format change
  rocm_smi/src/rocm_smi.cc
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

Process isolation sysfs format change
  rocm_smi/src/rocm_smi.cc
Owners: @marifamd, @bill-shuzhou-liu, @dmitrii-galantsev, @charis-poag-amd, @oliveiradan

move changelog.md from develop
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

move changelog.md from develop (#20)
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

.github/CODEOWNERS:

* @marifamd @bill-shuzhou-liu @dmitrii-galantsev @charis-poag-amd @oliveiradan

docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
